body {
  background-color: whitesmoke;
  font-family: Segoe UI;
}
.title{
  background-color:rgb(7, 33, 69);
}
h1 {
  color:white;
  margin-left: 20px;
  text-align: center;
}

.goal{
  --img-scale: 1.001;
  --title-color: black;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
   position: relative;
  border-radius: 16px;
  box-shadow: none;
  background: #fff;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

.goal h2{
  margin: 0 0 18px 0;
  font-family: "Bebas Neue", cursive;
  font-size: 1.9rem;
  letter-spacing: 0.06em;
  color: var(--title-color);
  transition: color 0.3s ease-out;
}
