* {
  padding: 0;
}

.container {
  position: relative;
  max-width: 80%;
  margin: 30px auto 30px auto;
  background-color: antiquewhite;
}
img {
  height: auto;
  max-width: 100%;
}
header img {
  height: 500px;
}
header {
  display: flex;
  flex-direction: column;
}

header h1 {
  margin-top: 0%;
  margin-bottom: 20px;
  text-align: center;
  color: #4b7e80;
}
nav {
  background-color: #4b7e80;
}

a {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 10px;
}
main {
  display: flex;
}

/*aside*/
aside {
  width: 25%;
  padding: 20px;
  background-color: antiquewhite;
  flex-direction: row;
}
/*aside izquierda*/
.video iframe {
  width: 100%;
  padding: 20px 0px;
}

/*section*/
.columns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
section {
  display: flex;
}
.sections {
  background-color: white;
  padding: 20px;
}
.contents p {
  text-align: center;
}
.description-card h2 {
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
}

/*form*/
.form {
  background-color: aquamarine;
  padding: 20px;
  border-radius: 10px;
}

.form input {
  padding-left: 0px;
  border-radius: 10px;
  position: relative;
}

.form textarea {
  border-radius: 10px;
}

footer {
  background-color: #4b7e80;
  text-align: center;
}
