.container {
  width: 800px;
  display: flex;
  /*flex-wrap: wrap; */
  /*justify-content: end;*/ /*alinea derecha*/
  /*justify-content: space-between;*/
  justify-content: space-evenly;
}
.container {
  background-color: #e07d1d;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
}
.item1 {
  background-color: #2df5ec;
  padding: 10px;
  margin: 20px;
  border-radius: 8px;
}
.item2 {
  background-color: #0563f7;
  padding: 10px;
  margin: 20px;
  border-radius: 8px;
}
.item3 {
  background-color: #f705bb;
  padding: 10px;
  margin: 20px;

  border-radius: 8px;
}
.item4 {
  background-color: #e0d007;
  padding: 10px;
  margin: 20px;
  border-radius: 8px;
}

/*cross axis*/
.crossaxis {
  margin-top: 40px;
  border-radius: 10px;
  display: flex;
  width: 800px;
  height: 200px;
  background-color: cadetblue;
  align-items: stretch;
}
.item5,
.item6,
.item7,
.item8 {
  background-color: brown;
  padding: 10px;
  margin: 20px;
  border-radius: 8px;
  color: white;
}
