.container {
  width: 800px;
  display: flex;
  /*flex-wrap: wrap; 
  justify-content: end;alinea derecha
  justify-content: space-between;*/
  justify-content: space-evenly;
}
.container {
  background-color: #e07d1d;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
}
.item1 {
  background-color: #2df5ec;
  padding: 10px;
  margin: 20px;
  border-radius: 8px;
}
.item2 {
  background-color: #0563f7;
  padding: 10px;
  margin: 20px;
  border-radius: 8px;
}
.item3 {
  background-color: #f705bb;
  padding: 10px;
  margin: 20px;

  border-radius: 8px;
}
.item4 {
  background-color: #e0d007;
  padding: 10px;
  margin: 20px;
  border-radius: 8px;
}

/*cross axis*/
.crossaxis {
  padding: 0;
  margin: 0 auto;
}
.crossaxis {
  margin-top: 40px;
  border-radius: 10px;
  display: flex;
  width: 800px;
  height: 300px;
  background-color: cadetblue;
  flex-flow: wrap;
  align-content: space-around;
  /*align-items: stretch; (funciona cuando los objetos no tienen altura )
  align-items: baseline;(actua sobre la linea base del elemento, para verlo en accion es necesario que los elementos tengan      margins diferentes)
  align-items:flex-start;
  align-items:flex-center;
*/
}

/*
.crossaxis {
  propiedad align content, necesita de elementos desbordados fuera del contenedor y flex-flow:wrap o flex-flow:reverse 
  flex-flow: wrap;
  align-content: flex-start;
  align-content: flex-end;
  align-content: center;
  align-content: stretch;
  align-content: space-between;
  align-content: space-around;
} 
*/

.item5,
.item6,
.item7,
.item8,
.item9,
.item10 {
  background-color: brown;
  padding: 10px;
  margin: 20px;
  border-radius: 8px;
  color: white;
}

.item5 {
  height: 20px;
}
.item6 {
  height: 60px;
}
.item7 {
  height: 40px;
}
.item8 {
  height: 120px;
}

/* propiedad order*/
.order {
  width: 600px;
  height: 200px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-top: 30px;
  align-content: space-around;
  background-color: #8eacdc;
}
.item11,
.item12,
.item13,
.item14 {
  background-color: rgb(56, 136, 80);
  padding: 10px;
  margin: 20px;
  border-radius: 8px;
  color: white;
}
.item11 {
  order: 2;
}
.item12 {
  order: 1;
}
.item13 {
  order: 0;
}
.item14 {
  oder: 3;
}

/*propiedad grow
Le puse diferentes alturas a los elementos pero estos ocuan la misma distancia*/
.flex-grow {
  width: 800px;
  background-color: #e07d1d;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 20px;
  height: 200px;
  display: flex;
  flex-flow: wrap;
  align-content: space-around;
}
.item15,
.item16,
.item17,
.item18 {
  border-radius: 10px;
  background-color: blueviolet;
  color: white;
}
.item15 {
  order: 3;
  height: 30px;
  flex-grow: 2;
}
.item16 {
  order: 1;
  height: 60px;
  flex-grow: 2;
}
.item17 {
  order: 0;
  height: 40px;
  flex-grow: 2;
}
.item18 {
  order: 2;
  height: 33;
  flex-grow: 2;
}

/*Propiedad Shrink*/
.shrink {
  width: 490px;
  height: 200px;
  background-color: #8eacdc;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
}
.item19,
.item20,
.item21,
.item22 {
  background-color: #ded99d;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  color: white;
  flex-shrink: 1;
}
.item19 {
  width: 50px;
  height: 40px;
  flex-shrink: 1;
}
.item20 {
  flex-shrink: 2;
  width: 60px;
  height: 60px;
}
.item21 {
  flex-shrink: 5;
  height: 40px;
  width: 80px;
}
.item22 {
  flex-shrink: 3;
  height: 26px;
  width: 100px;
}
/*propiedad flex-basis*/
.basis {
  background-color: rgb(32, 190, 190);
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 30px;
  width: 500px;
  display: flex;
}
.item23,
.item24,
.item25,
.item26 {
  margin: 10px;
  background-color: #cc63b2;
  border-radius: 5px;
}
.item24 {
  flex-basis: 150px;
}
